body {
    background: #E4E0E1;
    color: #2F3645;
    font-family: "Markazi Text";
    font-size: 23px;
}
h1, h2, h3 {
	font-family: "DM Serif Text";
}
h1  {
    color: #493628;
    font-weight: 100;
    font-size: 45px;
}
h2{
	color: #493628 ;
	font-size: 30px;
	font-weight: lighter;
}
a {
	font-family: "Markazi Text";
	text-decoration: none;
	color: #D6C0B3;
	font-weight: bold;
}
a:hover {
	color: #493628;
}

.container{
	width: 700px;
	margin:40px auto;
}

@media (max-width: 500px) {
	.container{
		width: 400px;
	}
}

@media (max-width: 760px) {
	.container{
		width: 600px;
	}
}

.card-white{
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}

.img-circle{
	border-radius: 50%;
}

.btn-brown {
	background: #D6C0B3;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}
.btn-brown:hover{
	background: #AB886D;
}

.list-inline{
	list-style: none;
	padding-left: 0px;
}

.list-inline li{
	display: inline;
	padding: 10px;
}

.list-inline i{
	width: 50px;
	font-size: 40px;
}

#introduction p {
	margin-bottom: 40px;
}